body {
	font-family: 'Dosis', sans-serif;
}

p {
	font-family: 'Montserrat', sans-serif;
}

a {
	font-family: 'Dosis', sans-serif;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Dosis', sans-serif;
}

/********* Header **********/

.navbar-default .navbar-nav>li>a {
	color: #777;
	text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #f74d65;
}

header {
	position: relative;
	background: url(../images/header_bg.jpg) no-repeat center/cover;
}

header::before {
	content: "";
	position: absolute;
	inset: 0;
	background: rgb(241 236 236 / 60%);
}

.section_overlay {
	background: rgba(250, 250, 250, .5);
}

.home_text {
	padding-top: 130px;
	padding-bottom: 210px;
}

.home_text h3{
	font-size: 21px;
	font-weight: 500;
}

.home_text h2 {
	color: #010101;
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.home_text h1 {
	color: #010101;
	font-size: 35px;
	text-transform: uppercase;
	letter-spacing: 4px;
}

.home_text p {
	color: #000000;
	font-size: 20px;
	font-weight: 700;
}


.scroll_down {
	padding-bottom: 50px;
}

.scroll_down h4 {
	font-size: 12px;
	color: #000;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

/********* Section title **********/

.section_title h2 {
	font-size: 25px;
	color: #000;
	text-transform: uppercase;
	margin-top: 150px;
	letter-spacing: 6px;
	margin-bottom: 10px;
}

.section_title img {
	margin-bottom: 70px;
}


/********* About Us **********/

.about_us_p {
	font-size: 14px;
	color: #272727;
	margin-top: 20px;
	margin-bottom: 10px;
	line-height: 21px;
}

.single_progress_bar .progress {
	height: 1px;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: #d5d5d5;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.single_progress_bar .progress-bar {
	background-color: #2d3334;
}

.single_progress_bar h2 {
	color: 000;
	font-size: 14px;
	font-weight: 400;
}

/********** Services **********/

.service_item_title {
	margin: 50px 0 25px 0;
	font-size: 25px;
}

.service-list {
	text-align: left;
}


/********** Typical Task & Price **********/

.call_to_action .container {
	padding-bottom: 60px;
	border-bottom: 1px solid #ddd;
}

.typical-task {
	display: flex;
	align-items: center;
}

.typical-task-price {
	font-weight: 700;
}

.left h2 {
	font-size: 25px;
}

/********** remote consult **********/
.consult{
	margin-bottom: 45px;
}

/********** Info-blog **********/

.useful_button{
	font-weight: 600;
}

.info_blog_item {
	margin: 30px 0 10px 0;
}

.info_blog_title {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.info_blog_title h2 {
	font-size: 23px;
	margin: 0;
	padding-left: 10px;
}

.info_blog_text {
	margin-top: 10px;
	font-size: 13px;
}

/********** Contact **********/
.contact-row {
	display: flex;
	justify-content: center;
}

.single_contact_info {
	padding-bottom: 21px;
	text-align: center;
}

.single_contact_info h2 {
	text-transform: uppercase;
	color: #3d3d3d;
	font-size: 15px;
	letter-spacing: 4px;
	margin-bottom: 1px;
}

.contact_tel {
	font-size: 30px;
}

.contact_mail {
	font-size: 22px;
}

.single_contact_info p {
	font-size: 17px;
	color: #f73b56;
}

.contact-form {
	background-color: #f1f1f1;
	padding: 30px;
}

.contact-form .form-control {
	height: 43px;
	border-radius: 0px;
	margin-bottom: 20px;
	border: 0px solid #fff;
}

.contact-form #message {
	height: 104px;
}

.form_submit {
	width: 100%;
	background: #f73b56;
	border-radius: 0px;
	color: #fff;
	padding-top: 13px;
	padding-bottom: 10px;
	transition: all 1s;
}

.work-with {
	padding-bottom: 60px;
	padding-top: 10px;
}

.work-with h3 {
	font-size: 14px;
	color: #636363;
	text-transform: uppercase;
}

/********** social  **********/

.contact-social {
	margin-top: 25px;
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: center;
}

.contact-social .social-link {
	display: inline-flex;
	align-items: center;
	gap: 8px;
	color: #fff;
	padding: 10px 16px;
	border-radius: 50px;
	text-decoration: none;
	font-weight: 500;
	transition: all 0.3s ease;
	width: fit-content;
}

.contact-social .telegram {
	background-color: #0088cc;
}

.contact-social .whatsapp {
	background-color: #25d366;
}

.contact-social .social-link:hover {
	transform: translateY(-3px);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

/********** footer **********/
footer {
	background-color: #f1f1f1;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: 40px;
}

.copyright_text {
	padding-top: 7px;
}

.copyright_text p {
	color: #636363;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 0px;
	letter-spacing: 0px;
}

.copyright_text a {
	color: #f73b56;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none;
}


@media (max-width: 994px) {
	.typical-task {
		display: flex;
		flex-wrap: wrap;
	}

	.typical-task-price {
		display: flex;
		flex-direction: row;
	}

	.typical-task-price p:first-child {
		margin-right: 20px;
	}
}


@media (max-width: 1198px) {
	.contact-row {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.contact_info {
		width: 100%;
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
	}

	.contact-form-container {
		width: 100%;
	}
}

@media(max-width: 425px) {
	.home_text h2 {
		font-size: 30px;
	}

	.home_text h1 {
		font-size: 23px;
	}

	.home_text p {
		font-size: 17px;
	}
}